/* Thumbnail */
.isThumbnailHidden ytd-thumbnail {
  display: none !important;
}

body.isGrayScale {
  filter: grayscale(100%);
}

.hideRecommendation #guide-content,
.hideRecommendation div#related,
.hideRecommendation ytd-feed-filter-chip-bar-renderer,
.hideRecommendation ytd-rich-section-renderer {
  display: none !important;
}

.hideRecommendation div#columns {
  display: block !important;
}
.hideRecommendation div#primary {
  margin: auto !important;
}

.hideComments ytd-comments {
  display: none !important;
}

tp-yt-app-drawer#guide {
  display: none;
}

ytd-page-manager#page-manager {
  margin: 0;
}

yt-icon-button#guide-button {
  display: none;
}
